@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 25% 96%;
    --foreground: 210 10% 23%;
    --card: 210 25% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 210 25% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 210 45% 80%;
    --primary-foreground: 210 25% 25%;
    --secondary: 210 25% 90%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 25% 90%;
    --muted-foreground: 210 10% 45%;
    --accent: 150 28% 76%;
    --accent-foreground: 150 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 25% 88%;
    --input: 210 25% 92%;
    --ring: 210 45% 70%;
    --chart-1: 340 82% 76%;
    --chart-2: 160 60% 70%;
    --chart-3: 45 93% 76%;
    --chart-4: 200 90% 70%;
    --chart-5: 260 82% 80%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 10% 15%;
    --foreground: 210 10% 85%;
    --card: 210 10% 18%;
    --card-foreground: 210 10% 85%;
    --popover: 210 10% 18%;
    --popover-foreground: 210 10% 85%;
    --primary: 210 45% 60%;
    --primary-foreground: 210 10% 95%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 210 10% 85%;
    --muted: 210 10% 25%;
    --muted-foreground: 210 10% 65%;
    --accent: 150 28% 56%;
    --accent-foreground: 150 10% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 28%;
    --ring: 210 45% 70%;
    --chart-1: 340 70% 60%;
    --chart-2: 160 50% 55%;
    --chart-3: 45 80% 65%;
    --chart-4: 200 80% 60%;
    --chart-5: 260 70% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
